<particles [style]="particleStyle" [width]="particleWidth" [height]="particleHeight" [params]="particleParams"></particles>

<ngb-carousel>
    <ng-template ngbSlide>
        <video style="height: 10em;" autoplay loop id="startVideo" class="fullscreen-bg__video" muted>
          <source src="../../../assets/media/mp4/about-example-video.mp4" type="video/mp4">
        </video>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>