<div class="authBlock">

<h3>Sign In</h3>

<div class="formGroup">
  <input type="text" class="formControl" placeholder="Username" #userName required>
</div>

<div class="formGroup">
  <input type="password" class="formControl" placeholder="Password" #userPassword required>
</div>

<!-- Calling SignIn Api from AuthService -->
<div class="formGroup">
  <input type="button" class="btn sign-up-btn" value="Log In" (click)="authService.signInWithEmailAndPassword(userName.value, userPassword.value)">
</div>

<div class="formGroup">
  <span class="or"><span class="orInner"><small>Or</small></span></span>
</div>


<div class="formGroup">
  <button type="button" class="btn sign-up-btn" (click)="authService.signInWithFacebook()">
    Log in with <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Facebook
  </button>
</div>

</div>

<div class="redirectToLogin">
    <span class="redirect" routerLink="/forgot-password">Forgot Password?</span>
  </div>

<div class="redirectToLogin">
    <span>Don't have an account? <span class="redirect" routerLink="/register">Sign Up</span></span>
    </div>