.center-content {
    margin-top: 10em;
}

app-navbar {
    z-index: 1050;
}

ngb-alert {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    width: 100%;
    z-index: 1080;
    opacity: 0.8;
}