.navbar-uid {
    font-size: 0.6rem;
    color: gray;
    padding-left: 1rem;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

app-login {
    padding-right: 1rem;
}

.other-login {
    font-size: 0.6rem;
}

.other-login a {
    color: rgba(175, 175, 175, 0.493);
}

.other-login a:hover, .other-login a:focus {
    color: rgba(175, 175, 175, 0.493);
}