.navbar-uid {
    font-size: 0.6rem;
    color: gray;
    padding-left: 1rem;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

app-login {
    padding-right: 1rem;
}