<header class="masthead">
  <div class="inner">
    <h3 class="masthead-brand">tsnvs<strong>.com</strong></h3>
    <nav class="nav nav-masthead justify-content-center sticky-top">
      <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a>
      <a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
      <app-login></app-login>
    </nav>
  </div>
</header>