<header class="masthead">
  <div class="inner">
    <h3 class="masthead-brand">tsnvs<strong style="color: lightgray">.com</strong></h3>
    <nav class="nav nav-masthead justify-content-center sticky-top">
      <a class="nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a>
      <a class="nav-link" href="#" routerLink="/contact" routerLinkActive="active">Contact</a>
      <a class="nav-link" href="#" *ngIf="authService.isLoggedIn()" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      <app-login></app-login>
      <span *ngIf="authService.isLoggedIn()" class="navbar-text navbar-uid noselect" *ngIf="authService.userData as user">{{user.uid}}</span>
    </nav>
  </div>
</header>