<footer class="d-flex bd-highlight fixed-bottom" style="background-color: rgba(0,0,0,0.4);">
  <div class="p-2 flex-fill bd-highlight text-left">
    Copyright &copy; 2018 <a routerLink="/home">tsnvs.com</a>. 
    All rights reserved.
  </div>
  <app-chat *ngIf="isLoggedIn()" class="chat"></app-chat>
  <div class="p-2 flex-fill bd-highlight text-right">
    Website by <a href="https://www.twitter.com/chrisvansmith" target="_blank">@chriszo111</a> &middot; View on <a href="https://github.com/chriszo111/tsnvscom-firebase" target="_blank"><fa-icon [icon]="['fab','github']"></fa-icon> GitHub</a><br />
  </div>
</footer>